<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.instagram.like.mapper.LikeMapper">
 	<insert id="insertLike">
 		INSERT INTO `like`
	 	(
	 		`postId`
	 		, `userId`
			, `createdAt`
	 	)	
		VALUES
		(
			#{postId}
 			, #{userId}
 			, NOW()
		)	
 	</insert>
 
	<delete id="deletelikeByPostIdUserId">
 		DELETE
		FROM
			`like`
		WHERE
			`postId` = #{postId}
			AND `userId` = #{userId}
 	</delete>
 	
 	<!--  
 	<select id="selectlikeCountByPostIdUserId" resultType="int">
 		SELECT
 			COUNT(1)
		FROM
			`like`
		WHERE
			`postId` = 	#{postId}
		AND `userId` = 	#{userId}		
 	</select>
 	
 	<select id="selectlikeCountByPostId" resultType="int">
 		SELECT
 			`postId`
	 		, `userId`
			, `createdAt`
		FROM
			`like`	
		WHERE
			`postId`= #{postId}	
 	</select>-->
 	
 	<!-- 라이크 카운트 쿼리 하나로 합치기 -->
 	<select id="selectLikeCountByPostIdOrUserId" resultType="int">
 		SELECT
 			COUNT(1)
		FROM
			`like`
		WHERE
			`postId` = 	#{postId}
			<if test="userId != null">
			AND `userId` = 	#{userId}	
			</if>
 	</select>
 	
 </mapper>